# Importing Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Dataset

In [5]:
df_raw = pd.read_csv('No_Churn_Telecom_Dataset.csv')
df_raw

,columns1,columns2,columns3,columns4,columns5,columns6,columns7,columns8,columns9,columns10,...,columns12,columns13,columns14,columns15,columns16,columns17,columns18,columns19,columns20,columns21
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NV,94,510,379-8805,no,no,0,190.6,108,32.40,...,95,12.95,144.7,97,6.51,7.5,5,2.03,1,False.
996,IL,179,510,348-2150,no,no,0,116.1,101,19.74,...,99,17.15,181.9,103,8.19,11.6,5,3.13,0,False.
997,MS,116,415,417-9128,no,no,0,217.3,91,36.94,...,95,18.37,148.1,76,6.66,11.3,3,3.05,2,False.
998,ND,59,510,351-4226,no,no,0,179.4,80,30.50,...,99,19.76,175.8,105,7.91,14.7,3,3.97,0,False.
999,NC,165,415,330-6630,no,no,0,207.7,109,35.31,...,94,14.01,54.5,91,2.45,7.9,3,2.13,0,False.

### Rename the columns as per the business case

In [8]:
df = df_raw.rename(columns={
    'columns1': 'State',
    'columns2': 'Account Length',
    'columns3': 'Area Code',
    'columns4': 'Phone',
    'columns5': 'International Plan',
    'columns6': 'VMail Plan',
    'columns7': 'VMail Message',
    'columns8': 'Day Mins',
    'columns9': 'Day Calls',
    'columns10': 'Day Charge',
    'columns11': 'Eve Mins',
    'columns12': 'Eve Calls',
    'columns13': 'Eve Charge',
    'columns14': 'Night Mins',
    'columns15': 'Night Calls',
    'columns16': 'Night Charge',
    'columns17': 'International Mins',
    'columns18': 'International calls',
    'columns19': 'International Charge',
    'columns20': 'CustServ Calls',
    'columns21': 'Churn'
})
df

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International calls,International Charge,CustServ Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NV,94,510,379-8805,no,no,0,190.6,108,32.40,...,95,12.95,144.7,97,6.51,7.5,5,2.03,1,False.
996,IL,179,510,348-2150,no,no,0,116.1,101,19.74,...,99,17.15,181.9,103,8.19,11.6,5,3.13,0,False.
997,MS,116,415,417-9128,no,no,0,217.3,91,36.94,...,95,18.37,148.1,76,6.66,11.3,3,3.05,2,False.
998,ND,59,510,351-4226,no,no,0,179.4,80,30.50,...,99,19.76,175.8,105,7.91,14.7,3,3.97,0,False.
999,NC,165,415,330-6630,no,no,0,207.7,109,35.31,...,94,14.01,54.5,91,2.45,7.9,3,2.13,0,False.

# Domain Study

## Business Context:
#### No-Churn Telecom is a telecom company in Europe that has been around for over ten years. Recently, new companies have entered the market, making it harder for No-Churn to keep their customers from switching to competitors.
####
## Problem:
#### No-Churn Telecom has been trying to keep its customers happy by reducing prices and offering more deals. However, many customers (more than 10%) are still switching to other telecom companies. This high number of customers leaving is a big concern for No-Churn Telecom.
####
## Project Goals:
### 1) Understanding why Customers Leave:
#### Identify the key factors that make customers decide to leave No-Churn. By knowing these reasons, the company can address the issues and improve customer satisfaction.
### 2) Creating Churn Risk Scores:
#### Develop a model that assigns a "churn risk score" to each customer. This score indicates how likely a customer is to leave. Customers with higher scores are at greater risk of leaving.
### 3) Introducing CHURN-FLAG:
#### Create a new column called "CHURN-FLAG" in the customer data, with values YES (1) or NO (0). This flag will indicate whether a customer is likely to leave (YES) or stay (NO). Customers with a YES flag can be targeted with special offers to encourage them to stay.
####
## Features Information for understanding
#### 1) State: The state in which the customer resides. This is a categorical variable.
#### 2) Account Length: The duration (in days or months) that the customer has been with the company.
#### 3) Area Code: The area code of the customer's phone number.
#### 4) Phone: The customer's phone number.
#### 5) International Plan: Indicates whether the customer has an international plan (Yes/No).
#### 6) VMail Plan: Indicates whether the customer has a voice mail plan (Yes/No).
#### 7) VMail Message: The number of voice mail messages the customer has.
#### 8) Day Mins: The total number of minutes the customer spent on daytime calls.
#### 9) Day Calls: The total number of daytime calls made by the customer.
#### 10) Day Charge: The total charges for daytime calls.
#### 11) Eve Mins: The total number of minutes the customer spent on evening calls.
#### 12) Eve Calls: The total number of evening calls made by the customer.
#### Eve Charge: The total charges for evening calls.
#### Night Mins: The total number of minutes the customer spent on nighttime calls.
#### Night Calls: The total number of nighttime calls made by the customer.
#### Night Charge: The total charges for nighttime calls.
#### International Mins: The total number of minutes the customer spent on international calls.
#### International calls: The total number of international calls made by the customer.
#### International Charge: The total charges for international calls.
#### CustServ Calls: The number of calls made by the customer to customer service.
#### Churn: Indicates whether the customer has churned (Yes/No).

# Basic Checks

In [14]:
df.head()

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International calls,International Charge,CustServ Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [18]:
df.tail()

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International calls,International Charge,CustServ Calls,Churn
995,NV,94,510,379-8805,no,no,0,190.6,108,32.40,...,95,12.95,144.7,97,6.51,7.5,5,2.03,1,False.
996,IL,179,510,348-2150,no,no,0,116.1,101,19.74,...,99,17.15,181.9,103,8.19,11.6,5,3.13,0,False.
997,MS,116,415,417-9128,no,no,0,217.3,91,36.94,...,95,18.37,148.1,76,6.66,11.3,3,3.05,2,False.
998,ND,59,510,351-4226,no,no,0,179.4,80,30.50,...,99,19.76,175.8,105,7.91,14.7,3,3.97,0,False.
999,NC,165,415,330-6630,no,no,0,207.7,109,35.31,...,94,14.01,54.5,91,2.45,7.9,3,2.13,0,False.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   State                 1000 non-null   object
 1   Account Length        1000 non-null   int64
 2   Area Code             1000 non-null   int64
 3   Phone                 1000 non-null   object
 4   International Plan    1000 non-null   object
 5   VMail Plan            1000 non-null   object
 6   VMail Message         1000 non-null   int64
 7   Day Mins              1000 non-null   float64
 8   Day Calls             1000 non-null   int64
 9   Day Charge            1000 non-null   float64
 10  Eve Mins              1000 non-null   float64
 11  Eve Calls             1000 non-null   int64
 12  Eve Charge            1000 non-null   float64
 13  Night Mins            1000 non-null   float64
 14  Night Calls           1000 non-null   int64
 15  Night Charge          1000 non-null   float64
 16  International Mins    1000 non-null   float64
 17  International calls   1000 non-null   int64
 18  International Charge  1000 non-null   float64
 19  CustServ Calls        1000 non-null   int64
 20  Churn                 1000 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 164.2+ KB

#### There are total 16 Numeric and 5 Non-Numeric features present in the data.

In [23]:
df.isnull().sum()

State                   0
Account Length          0
Area Code               0
Phone                   0
International Plan      0
VMail Plan              0
VMail Message           0
Day Mins                0
Day Calls               0
Day Charge              0
Eve Mins                0
Eve Calls               0
Eve Charge              0
Night Mins              0
Night Calls             0
Night Charge            0
International Mins      0
International calls     0
International Charge    0
CustServ Calls          0
Churn                   0
dtype: int64

#### There are no null values present in the data.

In [ ]:
df.duplicated().sum()